<link rel="stylesheet" href="/public/css/style.css">
{{!-- <a href="" class="">Livros</a>
<a href="" class="">Cadastro</a> --}}
<hr>
<h1 class="h1">cadastrar livro</h1>
<form action="/cadastrar" method="post"></form>
<p>titulo do livro:</p>
<input type="text" value="Digite o nome do livro..." nome="titulo">
<p>categoria do livro:</p>
<input type="text" value="Digite a categoria do livro" name="categoria">
<p>descricao do livro:</p>
<input type="text" value="Digite a descricao do livro" name="descricao">
<p>preco do livro</p>
<input type="text" value="R$50,00" name="preco">
<p>quantidade dispoível:</p>
<input type="text" value="60" name="quantidade">
<button class="btn" type="submit">cadastrar</button>
</form>
<hr>
<h1 class="h1">RODAPÉ</h1>